html,
body {
  padding: 0;
  margin: 0;
  font-family: "open sans", "open sans regular", sans-serif;
  font-size: 11px;
  margin-bottom: 7px;
  line-height: 1;
  min-height: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: roboto, sans-serif;
  color: rgb(17, 17, 17);
  margin: 6px 0px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: rgb(17, 17, 17);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}
